---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ModelY from '../components/Model-Y.astro'
import Model3 from '../components/Model-3.astro';
import Models from '../components/Model-s.astro'
---

<Layout title="Tesla Electric">
	
	<LandingHeader/>
	<!-- esto del snap son propiedades del slider -->
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto ">
		<div class="snap-center">
			<HeroSection/>
		</div>
		<div class="snap-center">
			<ModelY/>
		</div>
		<div class="snap-center">
			<Model3/>
		</div>
		<div class="snap-center">
			<Models/>
		</div>
		
		
		
	</main>
</Layout>

