<section class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
            data-header-color=" black"
>

    <div class="z-30 relative h-full flex flex-col">

        <header >
        <h2 class="text-black pt-40 text-4xl font-medium">Model 3</h2>
        <p class="text-black text-sm underline">Agenda una prueba de manejo</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-4 flex mx-auto">
                <a class=" bg-white  w-48 text-sm rounded font-medium text-black px-12 py-2 inline-block transition-colors hover:bg-zinc-300 hover:text-black  " href="#">Ordenar</a>	

                <a class=" bg-black text-sm rounded font-medium px-12 py-2 hover:bg-gray-600 hover:text-black transition-colors inline-flex justify-center items-center text-white" href="#">Más información </a>	
                </div>				
        </footer>

    </div>
    

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/Model-3.avif" alt="" class="h-full w-full object-cover object-center">
    </div>
    
</section>